*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.header
{
   height: 65px;
   background-color: #fff;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 10%;
    /* z-index: 2;
   position: fixed; */
   
}
li, a {
    font-weight: 500;
    font-size: 16px;
    color: rgb(114, 105, 105);
    text-decoration: none;
    list-style: none; 
    
}

.nav li { 
    display: inline-block;
    padding:  0 14px;
    
}
.nav li:hover a{
    color: red;
   
}
.logo{
    cursor: pointer;  
}
header.logo{
    margin-left: 80px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: crimson;
}
header.navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    text-decoration: none;
}
/* ///// */
.luachon{
    font-size: 1.3rem;
    margin-left: 2.5rem;
    text-decoration: none;
}

.hinh1{
    margin-left: 300px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    position: absolute;
}
.noidung{
    margin-top: 80px;
    margin-left: 45%;
}
.hang1{
    display: flex;
    margin-left: -11px;
  
}
.hinhngang1 a img{
    border-radius: 20px
}
.hinhngang2 a img{
    border-radius: 20px
}
.hinhngang3 a img{
    border-radius: 20px
}

.hinhngang1{   
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 20px;
    position: absolute;  
    
}
.hinhngang2{   
    height: 100px;
    width: 100px;
    margin-left: 565px;
    margin-top: 20px;
    position: absolute;
   
}
.hinhngang3{   
    height: 100px;
    width: 100px;
    margin-left: 1030px;
    margin-top: 20px;
    position: absolute;
   
}
.box1{
    font-size: 40px;
    bottom: -25rem;
    right: -7.5rem;
    position: absolute;
    background-color:rgb(red, green, blue);
    color: #fff;  
}
.box2{
    font-size: 40px;
    bottom: -25rem;
    right: -9.5rem;
    position: absolute;
    background-color:rgb(red, green, blue);
    color: #fff;   
}

.box3{
   font-size: 40px;
    bottom: -25rem;
    right: -9.5rem;
    position: absolute;
    background-color:rgb(red, green, blue);
    color: #fff;   
}
.hang2{
    display: flex;
    margin-left: -11px;
  
}
.hinhngang21 a img{
    border-radius: 20px
}
.hinhngang22 a img{
    border-radius: 20px
}
.hinhngang23 a img{
    border-radius: 20px
}

.hinhngang21{   
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 580px;
    position: absolute;  
    
}
.hinhngang22{   
    height: 100px;
    width: 100px;
    margin-left: 565px;
    margin-top: 580px;
    position: absolute;
   
}
.hinhngang23{   
    height: 100px;
    width: 100px;
    margin-left: 1030px;
    margin-top: 580px;
    position: absolute;
   
}
.box4{
    font-size: 40px;
    bottom: -25rem;
    right: -7.5rem;
    position: absolute;
    background-color:rgb(red, green, blue);
    color: #fff;  
}
.box5{
    font-size: 40px;
    bottom: -25rem;
    right: -9.5rem;
    position: absolute;
    background-color:rgb(red, green, blue);
    color: #fff;   
}

.box6{
   font-size: 40px;
    bottom: -25rem;
    right: -9.5rem;
    position: absolute;
    background-color:rgb(red, green, blue);
    color: #fff;   
}
.hang3{
    display: flex;
    margin-left: -11px;
    margin-bottom: 1720px;
  
}
.hinhngang31 a img{
    border-radius: 20px
}
.hinhngang32 a img{
    border-radius: 20px
}
.hinhngang33 a img{
    border-radius: 20px
}

.hinhngang31{   
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 1140px;
    position: absolute;  
    
}
.hinhngang32{   
    height: 100px;
    width: 100px;
    margin-left: 565px;
    margin-top: 1140px;
    position: absolute;
   
}
.hinhngang33{   
    height: 100px;
    width: 100px;
    margin-left: 1030px;
    margin-top: 1140px;
    position: absolute;
   
}
.box7{
    font-size: 40px;
    bottom: -25rem;
    right: -7.5rem;
    position: absolute;
    background-color:rgb(red, green, blue);
    color: #fff;  
}
.box8{
    font-size: 40px;
    bottom: -25rem;
    right: -9.5rem;
    position: absolute;
    background-color:rgb(red, green, blue);
    color: #fff;   
}

.box9{
   font-size: 40px;
    bottom: -25rem;
    right: -9.5rem;
    position: absolute;
    background-color:rgb(red, green, blue);
    color: #fff;   
}
.headerbt{
    width: 100%;
    bottom: 0;
   
    /* position:fixed; */
    height: 55px;
    justify-content:space-between;
    align-items: center;
    
}
.footer-link{
    margin-top: 50px;
    color:brown;
    text-decoration: none;
    
}
.link-list{
    display: flex;
    position: absolute;
    justify-content:space-between;
    margin-left: 100px;
    list-style: none;
    margin-top: 7px;
}
.link-list--item-f{
margin-left: 593px;
}
.link-list--item-i{
margin-left: 50px;
}
.link-list--item-t{
    margin-left: 50px;
}
.footer-noidung 
{
    margin-top: 50px;
    display: inline-block;
    margin-left: 615px;
   padding-bottom: 50px;
}